
/* Navigation */

header{
  background-color: #6CADDE;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
header h1 span {
  color: #ffffff;
  }
  
header ul{
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  font-family: 'Quicksand', sans-serif;
}


header img{
  display: block;
  width: 4rem;
}

header h1 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.nav {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

}


.navBar{
  display: flex;
  position: absolute;
  right: 8rem;
  gap: 3rem;
  font-size: 1.9rem;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
}



.navBar a:hover {
  border-bottom: .5rem solid #ffffff; 
}

/* Bugs overview */

.bugicon{
  display: flex;
  flex-direction: row;
  margin: 8rem 0;
  gap: 3rem;
}

.bloc{
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #A0CAF4;
}

.bloc img {
  width: 4rem;
}

/* ajout de bug  */

.bugAdd img{
  width: 4rem;
  vertical-align: middle;
}
.bugAdd{
  text-align: center;
}


/* bugListed */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#bugListed {
  border-collapse: collapse;
  width: 70rem;
  margin-top: 1.5rem;
  
}

#bugListed td, #bugListed th {
  border: .1rem solid #efefef;
  padding: 1rem;
 text-transform: none;
}

#bugListed th {
  text-align:center;
color:#0b0b0b ;
  background-color: #5596e4;
  text-transform: uppercase;
}

.btn{ 
  background-color: #6CADDE;
  color: #0e0d0d;
  font-family: 'Quicksand', sans-serif;
  padding: 0 2rem;

 }

 .table_thead{
  background-color: #A0CAF4;
  text-align: center;
 }

 .table_body{
  background-color: #f6f6f6;
  text-align: center;
 }