/*Style Globale */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');
html{
  font-size: 62.5%;
}

*{
 box-sizing: border-box;
}

h1,h2,h3,ul,li,ol,p{
  margin: 0;
  padding: 0;
  font-weight: normal;

}

input, button,select,textarea {
  font-size: inherit;
  border: 0;
  padding: 0;
  outline:none;
}

a{
  text-decoration: none;
  color: inherit;
  font-size: inherit !important;
  
}

li {
  list-style-type: none;
}


body{
  font: 1.6rem sans-serif;
  margin: 0;
}



img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

