
/* header */

header h1 span {
color: #A0CAF4;
}

header{
padding-top: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul{
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

header ul li img{
  width: 4rem;
}


/* formulaire */
.tab-body {
  max-width: 45rem;
  margin: 5rem auto 1rem;
  background-color: #A0CAF4;
  padding: 5rem;
  border-radius: 3rem;
  position: relative;
}

.tab-body form *{
  width: 100%;
}

.tab-body form input, :is(button, label){
  line-height: 3.5rem;
  margin-bottom: 2rem;
}


.tab-body form input{
  border: solid .1rem #5596e4;
  padding: .5rem;
}

.tab-body form label{
  color: #000000 ;
}


[placeholder]{
  font-style: italic;
  color: #6CADDE;
}

.formvalidation input:focus,.formvalidation textarea:focus{
  border: 2px solid #36A1F1;
}

.connexionbtn .btn{
 font-size: 1.8rem;
 border-radius: 2.5rem;
 max-width: 12rem;
 background-color: #376282;
 color: #ffffff;
 font-family: 'Quicksand', sans-serif;
}

.connexionbtn{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding-top: .5rem;
  margin: 0 auto;
}

.tab-body form .link{
color: #010101;
margin: 0 auto;
}

.cardBox-bottom{
  text-align: center;
}

