/*Style Globale */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');
html{
  font-size: 62.5%;
}

*{
 box-sizing: border-box;
}

h1,h2,h3,ul,ol,p{
  margin: 0;
  padding: 0;
  font-weight: normal;
}

input, button{
  font-size: inherit;
  border: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #ffffff;
  
}

body{
  font: 1.6rem sans-serif;
  margin: 0;
}

/* Section Logo */

header h1 {
  line-height: 6rem;
  text-align: center;
  padding-top: 4rem;
}


header h1 span {
color: #6CADDE;
}

.container{
  position: relative;
  max-width: 50rem;
  margin: 0 auto;
  border-radius: 1rem;
  font-size: 1.6rem;
  background-color: #6CADDE;
  font-family: 'Quicksand', sans-serif;
}

/* formulaire */
.tab-body {
  max-width: 50rem;
  margin: 5rem auto 1rem;
  background-color: #f7f5f5;
  padding: 5rem;
  border-radius: 3rem;
}

.tab-body form *{
  display: block;
  width: 100%;
}

.tab-body form input, :is(button, label){
  line-height: 3.5rem;
  margin-bottom: 1rem;
}

.tab-body form .btn{
  width: 12rem;
  border-radius: 2.5rem;
  color: #ffffff;
  background-color: #488fc6;
  margin: 0 auto;
}

.tab-body form input{
  border: solid .1rem #d5d5d5;
  padding: .5rem;
}

.tab-body form label{
  color: #000000 ;

}

.tab-body form .link{
  color: #2c93e1 ;
text-align: center;
padding-top: 1rem;
}


[placeholder]{
  font-style: italic;
  color: #6CADDE;
}

